NODE_ENV=development
FRONTEND_URL=http://localhost:4200
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/smart_portfolio?schema=public"
JWT_SECRET=CAMBIAR_POR_UN_SECRETO_SEGURO
JWT_EXPIRES_IN=1d
COOKIE_SECURE=false
UPLOAD_DIR=uploads
MAX_PDF_SIZE_MB=5

API_GATEWAY_PORT=3000

AUTH_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_PORT=3001

CANDIDATE_SERVICE_URL=http://localhost:3002
CANDIDATE_SERVICE_PORT=3002

PORTFOLIO_SERVICE_URL=http://localhost:3003
PORTFOLIO_SERVICE_PORT=3003

COMPANY_SERVICE_URL=http://localhost:3004
COMPANY_SERVICE_PORT=3004

SEARCH_SERVICE_URL=http://localhost:3004

JOBS_SERVICE_URL=http://localhost:3006
JOBS_SERVICE_PORT=3006

APPLICATIONS_SERVICE_URL=http://localhost:3007
APPLICATIONS_SERVICE_PORT=3007

CHAT_SERVICE_URL=http://localhost:3008
CHAT_SERVICE_PORT=3008

ASSISTANT_SERVICE_URL=http://localhost:3009
ASSISTANT_SERVICE_PORT=3009

DASHBOARD_SERVICE_URL=http://localhost:3010
DASHBOARD_SERVICE_PORT=3010
